exclude: '^ethosu/vela/(tflite|ethos_u55_regs|tosa)/'
repos:
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v2.2.0
    hooks:
    -   id: reorder-python-imports

-   repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
    -   id: black
        language_version: python3
        args: [--line-length=120]

-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.7.9
    hooks:
    -   id: flake8
        args: [--max-line-length=120, --extend-ignore=E203]

-   repo: https://github.com/pre-commit/mirrors-pylint
    rev: v2.6.0
    hooks:
    -   id: pylint
        args: [--score=no, --max-line-length=120, --disable=all, --enable=W0102]

-   repo: local
    hooks:
    -   id: pytest
        name: pytest
        stages: [commit]
        language: system
        entry: pytest -s -v .
        types: [python]
        pass_filenames: false
        always_run: true

    -   id: pytest-cov
        name: pytest-cov
        stages: [push]
        language: system
        entry: pytest -v --cov=ethosu --cov-fail-under=0
        types: [python]
        pass_filenames: false
        always_run: true
