[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
ethos-u-vela = {editable = true,path = "."}

[packages]
ethos-u-vela = {editable = true,path = "."}
